.color-main { background-color: #111; color: #eee;}
.color-content { background-color: #333; color: #eee; }
.color-toolbar { background-color: #444; color: #eee; }
.color-button { background-color: #666; color: #eee; }

.font-toolbar { font-family: Arial, sans-serif; font-size: small; }
.font-content { font-family: Arial, sans-serif; font-size: small; }
.font-button { font-family: Arial, sans-serif; font-size: small; font-weight: bold; }
.font-header { font-family: Arial, sans-serif; font-size: small; font-weight: bold; }

.pos-toolbar { padding: 4px 6px; margin: 4px; width: 100%; height: 100%; }
.pos-toolbarbutton { margin: 3px; padding: 3px 7px; align: left; }
.pos-disclpanel-header { margin: 4px 3px 0px 3px; padding: 3px 6px; }
.pos-disclpanel-content { margin: 0px 3px 4px 3px; padding: 3px 6px; }

.contentcell-label { margin: 1px 3px; font-weight: bold; }
.contentcell-content { margin: 1px 3px; }
.contenttoolbar-color-ispublished { background-color: #009900; color: #eee; }

a { text-decoration: none; }
a:link { color: #ff9933; }
a:visited { color: #ff6600; }
a:hover { color: #ffcc99; text-decoration: underline; }
a:active { color: #ff9966; }

.vert-edge-toolbar {
    color: #fff;
    background-color: #888;
    height: 100%;
    padding: 1px;
    margin: 4px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: bold;
}

.logpanel-content-fontstyle { font-family: monospace; font-size: medium; }
.logpanel-header-fontstyle { font-family: monospace; font-size: medium; font-weight: bold; }
.logpanel-lines-pos { padding: 0px 1px; margin: 0px 1px; }

.button-up,
.button {
    border: 3px outset;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px;
}
.button-up-hovering, .button:hover { border-style: solid; }

.button-down,
.button-down-hovering,
.button:active {
    position: relative;
    top: 2px;
    border-style: inset;
}

.button-up-disabled, .button-down-disabled { background-color: #f00; border-color: #f00; }

.authdlgbox { color: #ff0000; background-color: #444; margin: 10px; padding: 4px; font: sans-serif bold;}
.authdlgbox-textbox { color: #333333; background-color: #cccccc; font-family: monospace; }
.authdlgbox-label { color: #eeeeee; font: monospace bold; }

.authdlgbox-button { color: #eee; background-color: #666; border: #ccc outset 3px; padding: 3px 5px; margin: 3px; }
.authdlgbox-button:hover { border-style: solid; }
.authdlgbox-button:active { position: relative; top: 2px; border-style: inset;}